# Streamlit
streamlit

# Data handling
numpy
pandas
pathlib
xlrd 
openpyxl

# Visualization
matplotlib
seaborn
missingno
plotly

# Machine Learning
scikit-learn
tensorflow
imblearn

# Warnings management
# (built-in, no need to install 'warnings' or 'importlib')

# Optional: to ensure compatibility with notebooks (plotly)
notebook
